<nav class="flex justify-between bb b--white-10">
  <a class="link black-70 hover-gray no-underline flex items-center pa3 vhs-zoom" href="#">

    <svg width="64" height="64" viewBox="0 0 32 32">
        <path fill="pink" d=" M16 0 L32 32 L0 32 Z "/>
        <path fill="violet" d=" M16 0 L20 24 L0 32 Z "/>
      </svg>

  </a>
  <div class="flex-grow pa3 flex items-center">
    <a class="f6 link dib black-90 dim mr3 mr4-ns" href="#0">About</a>  
    <a class="f6 link dib black-90 dim mr3 mr4-ns" href="#0">Journal</a>
    <a class="f6 dib black-90 bg-animate hover-bg-white hover-black no-underline pv2 ph4 br ba b--black-90" href="#0">Sign Up</a>
  </div>
</nav>
